<h2 align="center">Edit Profile</h2>

<div class="row">
  <div class="col m8 offset-m2">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <br />
      <br />

      <div class="row">
        <div class="input-field col m6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field col m6">
          <div class="row">
            <div>
              <%= f.check_box :subscribed_to_email %>
              <%= f.label :subscribed_to_email, "Email Notifications" %>
            </div>
          </div>
          <div id="email-options">
            <div class="row">
              <div class="col m6">
                <%= f.check_box :day_before_email %>
                <%= f.label :day_before_email, "1 day prior" %>
              </div>
            </div>
            <div class="row">
              <div class="col m6">
                <%= f.check_box :week_before_email %>
                <%= f.label :week_before_email, "1 week prior" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="input-field col m6">
          <%= f.label :phone %><br />
          <%= f.text_field :phone %>
        </div>

        <div class="input-field col m6">
          <%= f.check_box :subscribed_to_sms %>
          <%= f.label :subscribed_to_sms, "SMS Notifications" %>
        </div>
      </div>

      <div class="row input-field">
        <label>Subscribed Lists</label><br />
        <br />
        <div class="col m3">
          <%= f.check_box :cpcb_seminars %>
          <%= f.label :cpcb_seminars, "CPCB Seminars" %>
        </div>
        <div class="col m3">
          <%= f.check_box :csb_seminars %>
          <%= f.label :csb_seminars, "CSB Seminars" %>
        </div>
        <div class="col m3">
          <%= f.check_box :faculty_meetings %>
          <%= f.label :faculty_meetings, "Faculty Meetings" %>
        </div>
        <div class="col m3">
          <%= f.check_box :miscellaneous %>
          <%= f.label :miscellaneous, "Miscellaneous" %>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col m6 input-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="col m6 input-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="input-field">
        <br /><br /><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="row actions" align="center">
        <%= f.submit "Update", class: "btn waves-effect waves-light" %>
      </div>
    <% end %>
    <br />
    <h3 align="center">Cancel my account</h3>

    <div align="center">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn red lighten-1"%></p>
    </div>

    <%= link_to "Back", :back %>

  </div>
</div>
