<% if @event.errors.any? %>
  <div class="row alert alert-danger z-depth-1 white-text">
    <% @event.errors.full_messages.each do |message| %>
      <div class="col m12"><%= message %></div>
    <% end %>
  </div>
<% end %>

<%= form_for(@event, role: "form") do |f| %>
  <div class="input-field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="row">
    <div class="input-field col m6">
      <%= f.label :start %><br />
      <%= f.datetime_field :start %>
    </div>

    <div class="input-field col m6">
      <%= f.label :end %><br />
      <%= f.datetime_field :end %>
    </div>

  </div>

  <div class="input-field">
    <label>Event Category</label><br />
    <%= f.collection_radio_buttons :category_id, Category.all, :id, :name %>
  </div>

  <br />

  <div class="input-field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="input-field">
    <%= f.label :description %><br /><br />
    <%= f.text_area :description, rows: 10 %>
  </div>

  <% if !@event.ready_to_send? %>
  <div class="input-field" align="center">
    <%= f.check_box :ready_to_send %>
    <%= f.label :ready_to_send, "Ready to Send to Notification Queue" %>
  </div>
  <% else %>
  <div class="input-field" align="center">
    An alert for this event has already been scheduled.
  </div>
  <% end %>
  <br />

  <div class="actions" align="center">
    <%= f.submit class: "btn waves-effect waves-light" %>
  </div>
<% end %>
