<% if @event.errors.any? %>
  <div class="row alert alert-danger z-depth-1 white-text">
    <% @event.errors.full_messages.each do |message| %>
      <div class="col m12"><%= message %></div>
    <% end %>
  </div>
<% end %>

<%= form_for(@event, role: "form") do |f| %>
  <div class="input-field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="row">
    <div class="input-field col m6">
      <%= f.label :start %><br />
      <%= f.datetime_field :start %>
    </div>

    <div class="input-field col m6">
      <%= f.label :end %><br />
      <%= f.datetime_field :end %>
    </div>

  </div>

  <div class="input-field">
    <label>Event Category</label><br />
    <% Category.all.each do |category| %>
      <%= f.radio_button :category, category.id %>
      <%= label :category, category.name %>
    <% end %>
  </div>
  <br />
  <br />

  <div class="input-field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="input-field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "10" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn waves-effect waves-light" %>
  </div>
<% end %>
