<div class="row">
  <div class="col m6 offset-m3">
    <h3 align="center"><%= @category.name %></h3>
    <% if user_signed_in? and current_user.admin? %>
      <div align="center">
        <%= link_to "Edit Category", edit_category_path(@category.id), class: "waves-effect waves-light btn" %><br />
        <br />
      </div>
    <% end %>
    <br />
    <% @events.each do |event| %>
      <div class="card text-center">
        <div class="card-content">
          <span class="card-title"><%= event.title %></span><br />
          <br />
          <div>
            <%= event.start.to_formatted_s(:long_ordinal) %><br />
            <%= event.location %><br />
            <br />
          </div>
          <div class="card-action">
            <%= link_to "View", event_path(event.id) %>
          </div>
        </div>
      </div>
    <% end %>
    <br />
    <div align="center">
      <%= link_to "All Categories", categories_path %><br>
      <%= link_to "All Events", events_path %>
    </div>
    <br />
    <% if user_signed_in? and current_user.admin? %>
      <div align="center">
        <%= link_to "Delete", event_path(@category.id), method: :delete, class: "waves-effect waves-light btn red lighten-1", data: {confirm: "Are you sure you want to delete #{@category.name} and all associated events?"} %>
      </div>
    <% end %>
  </div>
</div>
