<nav class="blue lighten-1">
  <div class="nav-wrapper">
    <%= link_to "DCB Alerts (beta)", root_path, class: 'brand-logo left' %>
    <ul id="nav-mobile" class="right">
      <% if user_signed_in? %>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
