<!DOCTYPE html>
<html>
  <head>
    <title>CPCB Alerts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><%= render 'layouts/navigation' %></header>
    <main>
      <div class="container">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </main>
    <footer><%= render 'layouts/footer' %></footer>
  </body>
</html>
